# use cineverse-database because the docker compose creates a custom bridge 
# network that allows us to target containers in the network by their dns name
DB_HOST=cineverse-database 
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_NAME=cineverse

SERVER_PORT=3000